<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<style>


.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}
</style>
</head>
<body ng-app="gameBoard">
<p th:text="'Game ID: '+${game.getGameID()}" />
<div class="row">
<div class="column">
<img id="player1Box" src="../images/BLACK.png" th:style ="${game.getCurrentPlayer()} eq ${game.getPlayerID1()} ? 'border-style:solid; border-color:coral; border-width:thick' : ''" >
<p th:text="${game.getPlayerName1()}" />
</div>
<div class="column">
<img id="player2Box" src="../images/WHITE.png" th:style ="${game.getCurrentPlayer()} eq ${game.getPlayerID2()} ? 'border-style:solid; border-color:coral; border-width:thick' : ''">
<p th:text="${game.getPlayerName2()}" />
</div>
</div>

<table ng-controller = "boardController">
    <thead>
        <tr>
            <th>  </th>
            <th>  </th>
            <th>  </th> 
            <th>  </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="row : ${board}">
            <td><img th:id="${row.getCell(0).getRow()}+','+${row.getCell(0).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(0).getRow()}+'\' , \''+${row.getCell(0).getCol()}+'\')'" th:src="${'../images/' + row.getCell(0).getColor()}"></td>
            <td><img th:id="${row.getCell(1).getRow()}+','+${row.getCell(1).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(1).getRow()}+'\' , \''+${row.getCell(1).getCol()}+'\')'" th:src="${'../images/' + row.getCell(1).getColor()}"></td>
            <td><img th:id="${row.getCell(2).getRow()}+','+${row.getCell(2).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(2).getRow()}+'\' , \''+${row.getCell(2).getCol()}+'\')'" th:src="${'../images/' + row.getCell(2).getColor()}"></td>
            <td><img th:id="${row.getCell(3).getRow()}+','+${row.getCell(3).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(3).getRow()}+'\' , \''+${row.getCell(3).getCol()}+'\')'" th:src="${'../images/' + row.getCell(3).getColor()}"></td>
            <td><img th:id="${row.getCell(4).getRow()}+','+${row.getCell(4).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(4).getRow()}+'\' , \''+${row.getCell(4).getCol()}+'\')'" th:src="${'../images/' + row.getCell(4).getColor()}"></td>
            <td><img th:id="${row.getCell(5).getRow()}+','+${row.getCell(5).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(5).getRow()}+'\' , \''+${row.getCell(5).getCol()}+'\')'" th:src="${'../images/' + row.getCell(5).getColor()}"></td>
            <td><img th:id="${row.getCell(6).getRow()}+','+${row.getCell(6).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(6).getRow()}+'\' , \''+${row.getCell(6).getCol()}+'\')'" th:src="${'../images/' + row.getCell(6).getColor()}"></td>
            <td><img th:id="${row.getCell(7).getRow()}+','+${row.getCell(7).getCol()}" th:attr="ng-click='handleClick(\''+${row.getCell(7).getRow()}+'\' , \''+${row.getCell(7).getCol()}+'\')'" th:src="${'../images/' + row.getCell(7).getColor()}"></td>
        </tr>
    </tbody>
</table>

<script th:inline="javascript">
/*<![CDATA[*/
	
	

angular.module('gameBoard', [], function($httpProvider) {
  $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
  

}).controller('boardController', function boardController($scope, $http, $window){

	  var socket = new SockJS('/gs-guide-websocket');
	  var stompClient = Stomp.over(socket);
	  stompClient.connect({}, function(frame) {
	      console.log('Connected: ' + frame);
	      $gameID = /*[[${game.getGameID()}]]*/ 'undefined';
	      stompClient.subscribe('/Reversii/'+$gameID, function(gameResponse){
	    	  if(JSON.parse(gameResponse.body).success){
	    		  var player1 = document.getElementById("player1Box");
	    		  var player2 = document.getElementById("player2Box");
	    		  if(player1.getAttribute("style")){
	    			  player1.removeAttribute("style");
	    			  player2.style.border ="thick solid coral";
	    		  }else{
	    			  player2.removeAttribute("style");
	    			  player1.style.border="thick solid coral";
	    		  } 
	    		  var i,j;
	    		  for(i=0;i<8;i++){
	    			  for(j=0;j<8;j++){
	    				  document.getElementById(i+","+j).src = "../images/"+JSON.parse(gameResponse.body).board[i][j];
	    			  }
	    		  }
	    	  }
	    		  
	      });
	  });
	  
	$scope.handleClick = function($row, $col){
		$gameID = /*[[${game.getGameID()}]]*/ 'undefined';
		$playerID = /*[[${playerID}]]*/ 'undefined';
		stompClient.send("/Reversii/move/"+$gameID, {}, JSON.stringify({ 'playerID': $playerID, 'gameID': $gameID, 'row' : $row , 'col' : $col }));
	};
	
	
});

/*]]>*/
</script>

</body>

</html>